@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>
    @ViewData["message"]
</h3>

<p>
    @ViewData["message"]
</p>

<p>
    ViewData["message"]
</p>

<h3>Cities List</h3>

@if (ViewData["cities"] != null)
{
    <ol>
        @foreach (string item in (IEnumerable<string>)ViewData["cities"])
        {
            <li>
                @item
            </li>
        }
    </ol>
}
<h3>Names and Course List</h3>
@if (ViewData["idandname"] != null)
{
    <ol>
        @foreach (string item in (IEnumerable <string>)ViewData["idandname"])
        {
            <li>
                @item
            </li>
        }
    </ol>
}
<h3>Using View bag </h3>

<h3>
    
    <partial>Cities List</partial>
    
</h3>

<p>
    @ViewBag.Msg
</p>
<ol>
    @foreach (string item in ViewBag.Cities)
    {
        <li>
            @item
        </li>
    }
</ol>
<h3>
    @TempData["company"]
</h3>
